.titleFont{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.9em;
    color:rgb(150, 133, 115)
}

.navbarStyle{
    width: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 1.2em;
    font-size: 1.4em;
    font-family: 'Roboto Mono', monospace;
    color: rgb(150, 133, 115);
    
}

.linkStyle:hover{
    color: orange
}

.linkStyle:active{
    transform: translateY(2px);
}

/* .homeClass{
    
} */

.formClass{
    display: flex;
    border-style:solid;
    border-color: rgb(255, 228, 179);
    border-width: .4em;
    border-radius: 2em;
    padding: 1.2em;
    flex-direction:column;
    justify-content: space-between;
    background-color: rgb(255, 228, 179);
    color: rgb(168, 131, 96);
    font-family: 'Roboto Mono', monospace;
}

.btnStyle{
    background-color:rgb(255, 178, 115);
    color: rgb(250, 243, 211);
    border-radius: 12px;
    padding: .8em;
    border-style: none;
    font-family: 'Roboto Mono', monospace;
    font-size: .9em;
}

.btnStyle:hover{
    opacity: 0.6;
}

.btnStyle:active{
    transform: translateY(2px);
}

.ratingStyle{
    width: 8em;
}

.logoStyle{
    width: 4em;
    vertical-align: bottom;
    margin-left: 2px;
}

/* Favorites Page */

.favHeader{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.9em;
    color: rgb(255, 151, 82);
}

/* "Pick A Random Restaurant" Button */

.randomButton {
    font-family: 'Roboto Mono', monospace;
    font-size: .8em;
    color: rgb(255, 115, 0);
    background-color: rgb(255, 228, 179);
    border: none;
    border-radius: .6em;
    padding: .4em;
}

.randomButton:hover {
    opacity: 0.6;
}