.navbarStyle{
    width: auto;

}

/* .homeClass{
    
} */

.formClass{
    display: flex;
    border-style:solid;
    border-color: orange;
    border-width: 10px;
    padding: 10px;
    flex-direction:column;
    justify-content: space-between;
    background-color: rgb(255, 254, 249);
}

.btnStyle{
    background-color:rgb(240, 156, 0);
    color: rgb(250, 243, 211);
    border-radius: 8px;
}