.titleFont{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.9em;
    color:rgb(150, 133, 115)
}

.navbarStyle{
    width: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 1.2em;
    font-size: 1.4em;
    font-family: 'Roboto Mono', monospace;
    color: rgb(150, 133, 115);
    background-color: rgb(255, 253, 208);
    padding: 1em;
    
}

.linkStyle:hover{
    color: orange
}

.linkStyle:active{
    transform: translateY(2px);
}

.submitBtn {
    margin-top: 1em;
}

.formClass{
    display: flex;
    border-style:solid;
    border-color: rgb(255, 228, 179);
    border-width: .4em;
    border-radius: 2em;
    padding: 1.2em;
    position: sticky;
    margin-top: 8.5em;
    flex-direction:column;
    justify-content: space-between;
    background-color: rgb(255, 228, 179);
    color: rgb(168, 131, 96);
    font-family: 'Roboto Mono', monospace;
}

.filterStyle{
    position: sticky;
    top: 155px;
    justify-content: flex-start;
}

.navFilterStyle{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgb(255, 252, 250);
}

.resFilter{
    margin-top: 8.5em;
}

.marginL{
    margin-left: 4em;
}

select {
    width: 100%;
    border: none;
    border-radius: 8px;
}

.btnStyle{
    background-color:rgb(255, 178, 115);
    color: rgb(250, 243, 211);
    border-radius: 12px;
    padding: .8em;
    border-style: none;
    font-family: 'Roboto Mono', monospace;
    font-size: .9em;
    margin-top: 1em;
    margin-left: .2em;
}

.btnStyle:hover{
    opacity: 0.6;
}

.btnStyle:active{
    transform: translateY(2px);
}

.ratingStyle{
    width: 8em;
}

.logoStyle{
    width: 4em;
    vertical-align: bottom;
    margin-left: 2px;
}

/* Favorites Page */

.favHeader{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.9em;
    color: rgb(255, 151, 82);
    text-align: center;
    margin-top: 4em;
}

.favText{
    text-align: center;
    margin-top: 1em;
}

/* Login Page */

.loginStyle {
    margin-top: 6.2em;
}

/* "Pick A Random Restaurant" Button */

.randomButton {
    font-family: 'Roboto Mono', monospace;
    font-size: .9em;
    color: rgb(255, 246, 239);
    background-color: rgb(255, 164, 136);
    border: none;
    border-radius: .6em;
    padding: .5em;
    text-align: center;
    margin-top: 0.7em;
    margin-bottom: 1.6em;
}

.randomButton:hover {
    opacity: 0.6;
}

/* Previous & Next Button */

.btn-prev-next {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9em;
    background-color: rgb(255, 164, 136);
    color: rgb(255, 246, 239);
    border: none;
    border-radius: 0.5em;
    padding: 0.4em;
    margin-top: 0.7em;
    margin-right: 0.2em;
}

.btn-prev-next:hover {
    opacity: 0.6;
}


@media all and (max-width: 600px){

    html, body {
        height: 100%;
        display: flex;
        flex-direction: column;

    }

    .homeClass{
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .btnStyle{
        margin-top: 2em;
        margin-left: 26%;
        margin-bottom: 1em;
        
    }
    .formClass{
        margin-top: 7em;
        width: 29em;
        position: static;
    }

    .filterStyle{
        display: flex;
        justify-content: center;
        position: static;
    }


    .navbarStyle {
        margin-bottom: 0;
    }

    .resFilter{
        margin-top: 2.5em;
        margin-left: 13%;
    }
    .marginL{
        background-color: rgb(255, 243, 230);
        margin-left: 0;
        margin-top: 2em;
        padding-top: 0.2em
    }

    .pagination {
        background-color: rgb(255, 243, 230);
    }
    .space{
        background-color: rgb(255, 243, 230);
        min-height: 5em;
    }


}